<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books Manager</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="application/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Books Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Books Manager</h1>
        <p>Test Web service, launch the webservice before test it.</p>
    </div>

    <div class="page-header">
        <h1>All Books</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody id="body-books">

                </tbody>
            </table>
        </div>
    </div>


    <div class="page-header">
        <h1>All Members</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>idBook</th>
                    <th>name</th>
                </tr>
                </thead>
                <tbody id="body-members">

                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="application/javascript">

    $().ready(function () {

        $.get('http://127.0.0.1:8000/books/', function (data) {
            for(var i in data){
                $('#body-books').append('<tr><td>'+data[i].id+'</td><td>'+data[i].name+'</td><td>'+data[i].category+'</td></tr>')
            }
        });

        $.get('http://127.0.0.1:8000/members/', function (data) {
            for(var i in data){
                $('#body-members').append('<tr><td>'+data[i].id+'</td><td>'+data[i].idBook+'</td><td>'+data[i].name+'</td></tr>')
            }
        });


    })


</script>

</body>
</html>